{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Organizador de Tarefas</h1>
    {% if dados|length < 1 %}
    <h4 style="text-align: center">Ainda não há nenhuma tarefa!</h4>
    {% else %}
    <table>
        <tr>
            <th>Tarefa</th>
            <th>Email</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
        {% for dado in dados %}
            <tr>
                <td>{{ dado.content }}</td>
                <td>{{ dado.email}}</td>
                 <td>{{ dado.date_created.date() }}</td>
                <td>

                    <button><a href="/delete/{{dado.id}}">Apagar</a>
                    <br>
                    <button><a href="/update/{{dado.id}}">Atualizar</a>
                    <br>
                    <button><a href="/sendmail/{{dado.id}}">Enviar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <span>Tarefa</span>
            <input type="text" name="content" id="content">
            <br>
            <span>Email</span>
             <input type="email" name="email" id="email">
            <input type="submit" style="align-content: center" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}